<% content_for :title do %>GOV.UK Dashboard - Performance Platform - GOV.UK<% end %>

<div id="datainsight-dashboard">
  <div class="row first-row">
    <div class="twelve columns">
      <%= render partial: "dashboard/modules/narrative" %>
    </div>
  </div>
  <div class="row offset-by-one">
    <div class="twelve columns">
      <h1>Web traffic</h1>
      <%= render partial: "dashboard/modules/hourly_traffic" %>
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <%= render partial: "dashboard/modules/visits" %>
    </div>

    <div class="six columns">
      <%= render partial: "dashboard/modules/unique_visitors" %>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <h1>Content</h1>
      <%= render partial: "dashboard/modules/format_success" %>
    </div>
  </div>
</div>