<% content_for :title do %>GOV.UK Dashboard - Performance Platform - GOV.UK
<% end %>

<div id="datainsight-dashboard">
  <section class="content-group">
    <%= render partial: "dashboard/modules/narrative" %>
  </section>

  <section class="content-group">
    <h2>Web traffic</h2>
    <%= render partial: "dashboard/modules/hourly_traffic" %>
  </section>

  <section class="content-group">
    <%= render partial: "dashboard/modules/visits" %>
    <%= render partial: "dashboard/modules/unique_visitors" %>
  </section>

  <section class="content-group">
    <h2 class="one-up">Content</h2>
    <%= render partial: "dashboard/modules/format_success" %>
  </section>
</div>