<div id="most-visited-policies-module" class="module">
  <h2>Top policies last week</h2>

  <article>
    <table>
      <thead>
        <tr>
          <th>Top 5 most visited policies on Inside Government</th>
          <th>Visits</th>
        </tr>
      </thead>
      <tbody>
        <% @policies.each.with_index(1) do |policy_visits, index| %>
          <tr>
            <td class="policy">
              <div class="policy-index"><%= index %>.</div>
              <div class="policy-title"><%= link_to policy_visits.policy.title, policy_visits.policy.url, rel: "external" %></div>
              <div class="details">
                <span class="policy-department"><%= policy_visits.policy.department %></span> -
                <span class="policy-updated-at">Updated <%= render_date(policy_visits.policy.update_date) %></span>
              </div>
            </td>
            <td class="number">
              <div class="policy-visits"><%= NumberFormat.short_human_readable_number(policy_visits.visits) %></div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </article>
</div>