<% if policy_visits.present? %>
  <th class="index"><%= index %>.</th>
  <td class="policy-title">
    <%= link_to policy_visits.policy.title,
                policy_visits.policy.url, rel: "external", target: "_blank" %>
    <div class="policy-details">
      <span class="policy-department"><%= policy_visits.policy.department %></span> - 
      <span class="policy-update-date">updated <%= render_date(policy_visits.policy.update_date) %></span>
    </div>
  </td>
  <td class="policy-visits"><%= NumberFormat.short_human_readable_number(policy_visits.entries) %></td>
<% else %>
  <th class="index"></th>
  <td></td>
  <td></td>
<% end %>