<% if policy_visits.present? %>
  <th class="index"><%= index %>.</th>
  <td class="policy-title">
    <%= link_to policy_visits.policy.title.strip,
                policy_visits.policy.url, target: "_blank" %>
    <div class="policy-details small-text">
      <% if policy_visits.policy.department.present? %>
        <abbr class="policy-department" title="<%= policy_visits.policy.department.name %>">
          <%= policy_visits.policy.department.abbreviation %>
        </abbr>
      <% end %>
      <% if Settings.feature_toggles[:show_update_date_in_most_entered_policies] %>
        <% if policy_visits.policy.update_date.present? %>
          - <span class="policy-update-date">Updated <%= render_date(policy_visits.policy.update_date) %></span>
        <% end %>
      <% end %>
    </div>
  </td>
  <td class="policy-visits"><%= NumberFormat.short_human_readable_number(policy_visits.entries) %></td>
<% else %>
  <th class="index"></th>
  <td></td>
  <td></td>
<% end %>
