<% content_for :title do %>Performance - GOV.UK<% end %>

<header class="page-header group">
  <hgroup class="full-width">
    <h1>Performance</h1>
  </hgroup>
</header>

<div class="article-container group">
  <article id="about-performance-platform" class="group" role="article">
    <div class="inner">

      <section class="intro">
        <p>
          Government handles over one and a half billion transactions every year, allowing the exchange of information,
          money, permission, goods and services. We’re using data to improve them.
        </p>

      </section>

      <section class="more">

        <h3><%= link_to "GOV.UK performance", dashboard_path %></h3>

        <p>
          View the latest data about the performance of the <%= link_to "GOV.UK", "/" %> website.
        </p>

        <h3><%= link_to "Transactions Explorer", "/performance/transactions-explorer" %></h3>

        <p>
          Find out what transactional services local government, departments and their agencies or sponsored public
          bodies provide.
        </p>


        <h3><%= link_to "Services", "/performance/services" %></h3>

        <p>
          Many kinds of transactional services are provided through <%= link_to "GOV.UK", "/" %>. These dashboards provide an
          overview of how each one is performing.
        </p>


        <h3><%= link_to "GDS Performance Framework", "https://www.gov.uk/service-manual/measurement/performanceframework.html" %></h3>

        <p>
          This document helps teams running government services answer important questions about how those services are
          performing.
        </p>

        <h3><%= link_to "GDS Blog - Performance", "http://digital.cabinetoffice.gov.uk/category/performance" %></h3>

        <p>
          The latest about what the performance and delivery team at GDS has been up to.
        </p>

      </section>

    </div>
  </article>
</div>
