<% content_for :footer do %>
    <%= render partial: "shared/for_svg_supported_browsers", :locals => {:content => javascript_include_tag("force-positioning", "widgets/scatterplot", "modules/inside-government/format-success")} %>
<% end %>

<div id="format-success-module" class="module">
  <div class="module-header left">
    <h2 class="graph-info">Format usage last week</h2>

    <p class="graph-heading">How many times each format was used and the percentage of these that were successful</p>
  </div>
  <div style="clear: both"></div>
  <div id="inside-gov-format-success" class="graph-container"></div>
</div>

<div class="row">
  <div class="six columns">
    <div id="most-visited-policies-module" class="module">
      <h2>Most visited policies</h2>

      <table>
        <tbody>
          <% @policies.each do |(policy, visits)| %>
          <tr>
              <td>
                  <div class="policy-title"><%= link_to policy.title, policy.url %></div>
                  <div class="policy-department"><%= policy.department %></div>
                  <div class="policy-updated-at">Updated <%= policy.update_date.strftime("%d %B %Y") %></div>
              </td>
              <td>
                  <div class="policy-visits"><%= NumberFormat.short_human_readable_number(visits) %></div>
              </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>