<% content_for :title do %>Departments and policy - GOV.UK performance - GOV.UK<% end %>

<%= javascript_include_tag("widgets/inside-government-presenter") %>

<div class="" id="global-breadcrumb">
  <ol class="group" role="breadcrumbs">
    <li><a href="/performance">Performance</a></li>
    <li><%= nav_link_to "Activity on GOV.UK", {controller: 'dashboard', action: 'index'} %></li>
  </ol>
</div>

<article id="datainsight-dashboard">
  <section class="content-group">
    <header>
      <h1 class='page-title'>
          <span class="strapline">GOV.UK performance</span>
          Departments and policy
      </h1>
      <p class="explanatory">Showing activity on the departments and policy section of GOV.UK.
        You can also see all <%= nav_link_to "activity on GOV.UK", {controller: 'dashboard', action: 'index'} %>.</p>
    </header>
  </section>

  <section class="content-group">
    <%= render partial: "inside_government/modules/weekly_visitors" %>
  </section>

  <section class="content-group">
    <%= render partial: "inside_government/modules/most_entered_policies" %>
  </section>

  <section id="content-explorer" class="content-group">
    <%= render partial: "inside_government/modules/format_success" %>
  </section>
</article>