<% content_for :title do %>Inside Government dashboard - Performance Platform - GOV.UK
<% end %>

<%= javascript_include_tag("widgets/inside-government-presenter") %>

<article id="datainsight-dashboard">
  <section class="content-group">
    <%= render partial: "inside_government/modules/narrative" %>
  </section>

  <section class="content-group">
    <h1 class="dashboard">Web traffic</h1>
    <%= render partial: "inside_government/modules/weekly_visitors" %>
  </section>

  <section class="content-group">
    <h1 class="dashboard">Content</h1>
    <%= render partial: "inside_government/modules/most_entered_policies" %>
  </section>

  <section class="content-group">
    <%= render partial: "inside_government/modules/format_success" %>
  </section>
</article>