<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'performance' %>
  <title><%= yield(:title) %></title>
  <% yield :head %>
</head>

<body>

<nav id="proposition-menu">
  <a href="/performance" id="proposition-name">
    Performance Platform
    <span class="alpha-tag">Alpha</span>
  </a>
  <ul id="proposition-links">
    <li><a href="/performance/services" class="">Services</a></li>
    <li><%= nav_link_to "GOV.UK dashboard", {controller: 'dashboard', action: 'index'} %></li>
    <li><%= nav_link_to "Inside Government dashboard", {controller: 'inside_government', action: 'index'} %></li>
  </ul>
</nav>


<!--[if lte IE 5]>
<div id="wrapper" class="wrapper datainsight"><![endif]-->
<!--[if IE 6]>
<%= stylesheet_link_tag 'styles/legacy' %>
<div id="wrapper" class="wrapper ie6 datainsight"><![endif]-->
<!--[if IE 7]>
<%= stylesheet_link_tag 'styles/legacy' %>
<div id="wrapper" class="wrapper ie7 datainsight"><![endif]-->
<!--[if IE 8]>
<div id="wrapper" class="wrapper ie8 datainsight"><![endif]-->
<!--[if gte IE 9]>
<div id="wrapper" class="wrapper ie9 datainsight"><![endif]-->
<!--[if !IE] -->
<div id="wrapper" class="wrapper datainsight"><!-- [endif]-->

  <section id="content" class="group category-page" role="main">
    <%= yield %>
    <script>
        $(function () {
            GOVUK.performance.stageprompt.setupForGoogleAnalytics();
        });
    </script>
    <div id="report-a-problem"></div>
  </section>
</div>
</body>

<footer>
  <%= javascript_include_tag 'vendor', 'helpers', 'widgets/toggle' %>
  <%= javascript_include_tag("vendor/d3.v2", "vendor/modernizr", "widgets/overlay") %>
  <%= javascript_include_tag("analyticsCallbacks", "stageprompt") %>
  <%= yield :footer %>
</footer>
</html>
